:root {
  --black: #282c35;
  --darkGrey: #4c5466;
  --errorRed: #e80000;
  --grey: ghostwhite;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 10px;
  color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.container {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.application-header {
  background-color: var(--black);
  padding: 2rem 0;
  color: white;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: normal;
}

.application-main {
  font-size: 1.4rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.loader svg path,
.loader svg rect {
  fill: var(--black);
}

.packages,
.options {
  display: flex;
  margin: 1rem -1rem;
}

.options button,
.package {
  margin: 0 1rem;
}

.package {
  border: 1px solid var(--darkGrey);
}

button {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--grey);
  background: var(--darkGrey);
  border: 1px solid var(--darkGrey);
}

.asset-options button:first-child::after {
  display: none;
}

.asset-options button::after {
  top: -7px;
  left: -31px;
  content: '';
  display: block;
  position: relative;
  height: 2px;
  width: 20px;
  background-color: var(--darkGrey);
}

.asset-options button:disabled::after {
  background-color: var(--grey);
}

button:hover,
button:active {
  color: var(--darkGrey);
  background: var(--grey);
  border: 1px solid var(--darkGrey);
}

button:disabled {
  background: var(--grey);
  color: #b9bcc0;
  border: 1px solid var(--grey);
  pointer-events: none;
}

.packages {
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.package {
  flex-basis: 100%;
  background: var(--grey);
}

.package-header {
  padding: 1rem 1rem 1.5rem;
  background-color: var(--black);
  color: white;
  text-align: center;
}

.package-header h2 {
  margin: 0 0 0.5rem;
}

.package-header h3 {
  margin: 0 0 1rem;
  font-size: 1.2rem;
}

.package-body {
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .packages {
    flex-wrap: nowrap;
  }

  .package-header,
  .package-body {
    text-align: left;
  }
}

.package-body > p {
  margin: 0 0 1rem;
}

.package-body > :last-child {
  margin: 0;
}

.update-instructions {
  border: 1px solid var(--darkGrey);
  padding: 1rem;
  background: var(--grey);
}

.update-instructions h3 {
  margin: 0 0 1rem;
}

.update-instructions ul {
  margin: 0;
  padding: 0 0 0 2rem;
  list-style-type: decimal;
}

.body-code {
  background: var(--grey);
  padding: 1px 3px 2px;
  border-radius: 5px;
}

.package-status {
  margin: 0;
}

.local-outdated {
  color: var(--errorRed);
  font-weight: 700;
}
